<% if @user %>
  <h1><%= @user.username %>'s Posts</h1>
<% elsif @instrument %>
  <h1><%= pluralize_without_count(2, @instrument.name) %></h1>
<% else %>
  <h1>All Posts</h1>
<% end %>

<% if @query %>
  <h2>Searching for "<%= @query %>"</h2>
<% end %>

<% if @price_min %>
  <h3>Minimum Price: $<%= @price_min %></h3>
<% end %>
<% if @price_max %>
  <h3>Maximum Price: $<%= @price_max %></h3>
<% end %>

<hr>

<%= render "list" %>